 <!DOCTYPE html>
 <html> 
  <head>
    <title>OMDB API HAcK</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="layout">
  <h1>OMDB API Hack<h1>
    <div class="container">
      <div class="row">
  <%= yield %>
    </div>
    </div>
  </body>
</html>